<!doctype html>
<html>
    <head>
        <title>Blog</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type=text/javascript>var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
        <div class=page>
            <h1>Blog</h1>
            <div class=metanav>
                {% if not session.logged_in %}
                    <a href="{{ url_for('login') }}">log in</a>
                {% else %}
                    <a href="{{ url_for('logout') }}">log out</a>
                {% endif %}
            </div>
            {% for message in get_flashed_messages() %}
                <div class=flash>{{ message }}</div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
