{% import 'macros/pagination.html' as pg %}
{% extends "layout.html" %}
{% block body %}
        {% if session.logged_in %}
            <form action="{{ url_for('add_post') }}" method=post class=add-post>
                <dl>
                    <dt>Title:
                    <dd><input type=text size=30 name=title>
                    <dt>Text:
                    <dd><textarea name=text rows=5 cols=40></textarea>
                    <dd><input type=submit value=Share>
                </dl>
            </form>
      {% endif %}
      <ul class=posts>
      {% for post in posts %}
          <li><h2>{{ post.title }}</h2>{{ post.text|safe }}
          <br>
          <em>Posted at {{ post.pub_date|datetimeformat }}</em>
      {% else %}
          <li><em>Unbelievable.  No posts here so far</em>
      {% endfor %}
      {{ pg.render(pagination) }}
      </ul>
{% endblock %}
